[Unit]
Description=timer night-shift
Wants=network-online.target geoclue.service
After=network-online.target

[Timer]
OnCalendar=daily
Persistent=true
Unit=get-sunrise-sunset.service

[Install]
WantedBy=timers.target
