[Unit]
Description=Compares current time with time of sunrise and sunset
Wants=display-manager.service
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/%u/.local/bin/night-shift -c

Restart=no
